* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  background: #1b2a41;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  min-width: 100dvw;
  overflow-x: hidden;
  background: transparent;
}

.login-form {
  position: relative;
  display: flex;
  width: 95%;
  height: 450px;
  max-width: 400px;
  background:transparent;
  border: 2px solid white; 
  border-radius:20px;
  justify-content: center;
  align-items: center;
  user-select: none;
}

h1 {
  color: white;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 100%;
  min-width: 310px;
  border-bottom: 2px solid white;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
  transition: 0.5s;
  font-weight: bold;
  z-index: 1;
}

input:focus ~ label {
  top: -5px;
}

input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 35px 0 5px;
  color: white;
  font-size: 1em;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: white;
  top: 20px;
}

.forgot {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px;
  color: white;
}

.forgot label:nth-child(2) {
  order: 1;
}

.forgot label {
  display: flex;
  align-items: center;
}

.forgot label input[type="checkbox"] {
  margin-right: 6px;
}

.forgot label a {
  color: white;
  text-decoration: none;
}

.forgot label a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
}

.register {
  color: white;
  text-align: center;
  margin-top: 40px;
}

.register p a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.register p a:hover {
  text-decoration: underline;
}

a {
  user-select: none;
  -webkit-user-drag: none;
}

 .registration-header, .forgot-header, .otp-header, .reset-header {
  position: relative;
  align-items: center;
}

#registerBackIcon, #resetBackIcon, #otpBackIcon, #newPassBackIcon {
  position: absolute;  
  font-size: 2.5em;    
  cursor: pointer;
}

#registerBackIcon {
  transform: translateX(-186%);
}

#resetBackIcon {
  transform: translateX(-157%);      
}

#otpBackIcon {
  transform: translateX(-157%);      
}

#newPassBackIcon {
  transform: translateX(-140%);      
}

#registerBtn, #continueBtn {
  margin-top: 7px;
}

.register-form, .forgot-form, .otp-form, .reset-form {
  position: absolute;
  width: 95%;
  max-width: 550px;
  height: 450px;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  opacity: 0;        
  transform: translateX(50px);
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.5s ease;
}

.forgot-form, .reset-form {
  max-width: 500px;
  height: auto;
  min-height: 300px;

}

.login-form.show, .register-form.show, .forgot-form.show, .otp-form.show, .reset-form.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.login-form.hide, .register-form.hide, .forgot-form.hide, .otp-form.hide, .reset-form.hide {
  opacity: 0;
  transform: translateX(50px);
  pointer-events: none;
}

.otp-form {
  max-width: 620px;
  height: auto;
  min-height: 300px;
}

.otpInputs {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin: 20px 0;
}

.otp-box {
  width: 55px;
  height: 80px;
  text-align: center;
  font-size: 1.8em;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  outline: none;
  font-weight: normal;
  color: #fff;
}

.otp-box.filled {
  font-weight: bold;
}

.otp-box:focus {
  background: rgba(255, 255, 255, 0.15);
}

.otpInputs {
  flex-wrap: wrap;
}

#submitOTPBtn, #continueBtn, #resetBtn {
    margin-top: 12px;
} 

/* ---------- PORTRAIT MODE ---------- */

/* small phones */
@media (max-width: 375px) and (orientation: portrait) { 
  html, body {
    height: 100%;
    background: #1b2a41;
  }

  section {
    transform: translateY(-7%);
  }

  .login-form, .register-form, .forgot-form, .otp-form, .reset-form {
    border: none;
  }

  #registerBackIcon {
    transform: translate(-15%, -16.5%)
  }

  #resetBackIcon {
    transform: translate(-14%, -17%)
  }

  #otpBackIcon {
    transform: translate(-15%, -17%);
  }

  #newPassBackIcon {
    transform: translate(-14%, -17%)
  }

  .otpInputs {
    gap: 7px;
    margin: 20px 0;
  }

  .otp-box {
    width: 45px;
    height: 60px;
    font-size: 1.5em;
  }
}

/* normal phones */
@media (max-width: 414px) and (orientation: portrait) {
  html, body {
    height: 100%;
  }

   .login-form, .register-form, .forgot-form, .otp-form, .reset-form {
    border: none;
  }

  h1 {
    font-size: 1.5em;
  }

  .login-form h1 {
    font-size: 1.75em;
  }

  #registerBackIcon {
    transform: translate(-15%, -16.5%)
  }

  #resetBackIcon {
    transform: translate(-14%, -17%)
  }

  #otpBackIcon {
    transform: translate(-15%, -17%);
  }

  #newPassBackIcon {
    transform: translate(-14%, -17%)
  }

  .otpInputs {
    gap: 10px;
    margin: 20px 0;
  }

  .otp-box {
    width: 50px;
    height: 65px;
    font-size: 1.5em;
  }

  .inputbox {
    width: 330px;
    min-width: 330px;
  }
}

/* tablets/iPad mini */
@media (max-width: 768px) and (orientation: portrait) {
  html, body {
    height: 100%;
  }
  section {
    transform: translateY(-5%);
  }
}

/* small laptops */
@media (max-width: 1024px) and (orientation: portrait) {
  html, body {
    height: 100%;
  }
  section {
    transform: translateY(-10%);
  }
}

/* ---------- LANDSCAPE MODE ---------- */

/* all phones */
@media (max-height: 375px) and (orientation: landscape) {
  html, body {
    overflow: auto;
    background: #1b2a41;
  }

  section {
    overflow-y: hidden;
  }

  .login-form, .register-form, .forgot-form, .otp-form, .reset-form {
    border: none;
  }

  .login-form {
    height: 600px;
  }

  h1 {
    font-size: 1.7em;
  }

  .inputbox {
    width: 450px;
    min-width: 450px;
  }

  .forgot-form, .otp-form, .reset-form {
    min-height: 200px;
    top: 15%;
  }

  #resetBackIcon, #otpBackIcon,#newPassBackIcon  {
    transform: translate(-15%, -8%);
  }
} 

/* small tablets / iPads landscape */
@media (max-width: 1366px) and (max-height: 900px) and (orientation: landscape) {
  body, html {
      height: 100%;
  }

  section {
    transform: translateY(-6%);
  }
}